// 基础颜色盘 参考tailwindcss

$w2ui-gray-50: #F9FAFB;
$w2ui-gray-100: #F3F4F6;
$w2ui-gray-200: #E5E7EB;
$w2ui-gray-300: #D1D5DB;
$w2ui-gray-400: #9CA3AF;
$w2ui-gray-500: #6B7280;
$w2ui-gray-600: #4B5563;
$w2ui-gray-700: #374151;
$w2ui-gray-800: #1F2937;
$w2ui-gray-900: #111827;

$w2ui-red-50: #FEF2F2;
$w2ui-red-100: #FEE2E2;
$w2ui-red-200: #FECACA;
$w2ui-red-300: #FCA5A5;
$w2ui-red-400: #F87171;
$w2ui-red-500: #EF4444;
$w2ui-red-600: #DC2626;
$w2ui-red-700: #B91C1C;
$w2ui-red-800: #991B1B;
$w2ui-red-900: #7F1D1D;

$w2ui-yellow-50: #FFFBEB;
$w2ui-yellow-100: #FEF3C7;
$w2ui-yellow-200: #FDE68A;
$w2ui-yellow-300: #FCD34D;
$w2ui-yellow-400: #FBBF24;
$w2ui-yellow-500: #F59E0B;
$w2ui-yellow-600: #D97706;
$w2ui-yellow-700: #B45309;
$w2ui-yellow-800: #92400E;
$w2ui-yellow-900: #78350F;

$w2ui-green-50: #ECFDF5;
$w2ui-green-100: #D1FAE5;
$w2ui-green-200: #A7F3D0;
$w2ui-green-300: #6EE7B7;
$w2ui-green-400: #34D399;
$w2ui-green-500: #10B981;
$w2ui-green-600: #059669;
$w2ui-green-700: #047857;
$w2ui-green-800: #065F46;
$w2ui-green-900: #064E3B;

$w2ui-blue-50: #EFF6FF;
$w2ui-blue-100: #DBEAFE;
$w2ui-blue-200: #BFDBFE;
$w2ui-blue-300: #93C5FD;
$w2ui-blue-400: #60A5FA;
$w2ui-blue-500: #3B82F6;
$w2ui-blue-600: #2563EB;
$w2ui-blue-700: #1D4ED8;
$w2ui-blue-800: #1E40AF;
$w2ui-blue-900: #1E3A8A;

$w2ui-indigo-50: #EEF2FF;
$w2ui-indigo-100: #E0E7FF;
$w2ui-indigo-200: #C7D2FE;
$w2ui-indigo-300: #A5B4FC;
$w2ui-indigo-400: #818CF8;
$w2ui-indigo-500: #6366F1;
$w2ui-indigo-600: #4F46E5;
$w2ui-indigo-700: #4338CA;
$w2ui-indigo-800: #3730A3;
$w2ui-indigo-900: #312E81;

$w2ui-purple-50: #F5F3FF;
$w2ui-purple-100: #EDE9FE;
$w2ui-purple-200: #DDD6FE;
$w2ui-purple-300: #C4B5FD;
$w2ui-purple-400: #A78BFA;
$w2ui-purple-500: #8B5CF6;
$w2ui-purple-600: #7C3AED;
$w2ui-purple-700: #6D28D9;
$w2ui-purple-800: #5B21B6;
$w2ui-purple-900: #4C1D95;

$w2ui-pink-50: #FDF2F8;
$w2ui-pink-100: #FCE7F3;
$w2ui-pink-200: #FBCFE8;
$w2ui-pink-300: #F9A8D4;
$w2ui-pink-400: #F472B6;
$w2ui-pink-500: #EC4899;
$w2ui-pink-600: #DB2777;
$w2ui-pink-700: #BE185D;
$w2ui-pink-800: #9D174D;
$w2ui-pink-900: #831843;
