.w2-icon {
  --color: inherit;
  height: 1em;
  width: 1em;
  line-height: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor; // svg图标继承父元素color属性改变颜色
  color: var(--color); // 字体图标颜色直接通过color属性改变
  font-size: inherit;

  svg {
    height: 1em;
    width: 1em;
  }
}