@use '../../styles/mixins/mixins' as *;
@import '../../styles/variables.scss';

@include b(button) {
	// cursor: pointer;
	display: inline-block;
	user-select: none;

	@include e(link) {
		background-color: transparent !important;

		@include m(default) {
			color: $w2ui-gray-600;

			&:hover {
				color: $w2ui-gray-500;
			}
			&:active {
				color: $w2ui-gray-400;
			}
		}

		@include m(primary) {
			color: $w2ui-blue-500;

			&:hover {
				color: $w2ui-blue-400;
			}

			&:active {
				color: $w2ui-blue-600;
			}
		}

		@include m(success) {
			color: $w2ui-green-500;

			&:hover {
				color: $w2ui-green-400;
			}

			&:active {
				color: $w2ui-green-600;
			}
		}

		@include m(warning) {
			color: $w2ui-yellow-500;

			&:hover {
				color: $w2ui-yellow-400;
			}

			&:active {
				color: $w2ui-yellow-600;
			}
		}

		@include m(danger) {
			color: $w2ui-red-500;

			&:hover {
				color: $w2ui-red-400;
			}

			&:active {
				color: $w2ui-red-600;
			}
		}

		@include m(info) {
			color: $w2ui-gray-500;

			&:hover {
				color: $w2ui-gray-400;
			}

			&:active {
				color: $w2ui-gray-600;
			}
		}
	}

	@include e(content) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 6px;
		border-radius: 4px;
		color: $w2ui-white;

		@include m(default) {
			color: $w2ui-black;
			border: 1px solid $w2ui-gray-300;
			background-color: $w2ui-white;

			&:hover {
				color: $w2ui-blue-500;
				background-color: $w2ui-blue-100;
			}
			&:active {
				border-color: $w2ui-blue-500;
			}
		}

		@include m(primary) {
			background-color: $w2ui-blue-500;

			&:hover {
				background-color: $w2ui-blue-400;
			}

			&:active {
				background-color: $w2ui-blue-600;
			}
		}

		@include m(success) {
			background-color: $w2ui-green-500;

			&:hover {
				background-color: $w2ui-green-400;
			}

			&:active {
				background-color: $w2ui-green-600;
			}
		}

		@include m(warning) {
			background-color: $w2ui-yellow-500;

			&:hover {
				background-color: $w2ui-yellow-400;
			}

			&:active {
				background-color: $w2ui-yellow-600;
			}
		}

		@include m(danger) {
			background-color: $w2ui-red-500;

			&:hover {
				background-color: $w2ui-red-400;
			}

			&:active {
				background-color: $w2ui-red-600;
			}
		}

		@include m(info) {
			background-color: $w2ui-info;
			background-color: $w2ui-gray-500;

			&:hover {
				background-color: $w2ui-gray-400;
			}

			&:active {
				background-color: $w2ui-gray-600;
			}
		}
	}

	@include m(default) {
		padding: 0.5rem 1rem;
		font-size: $w2ui-sm;
	}

	// 禁用状态
	@include when(disabled) {
		cursor: not-allowed !important;
		opacity: 0.5;
		// pointer-events: none;
	}

	// 圆角按钮
	@include when(round) {
		border-radius: 10rem;
	}

	// 圆形按钮
	@include when(circle) {
		padding: 0.5rem !important;
		border-radius: 50%;
	}
}
